<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<environments default="dev">
	<!-- 서버 묶음 -->
		<environment id="dev">
		<!-- 그 중 하나 -->
			<transactionManager type="JDBC"></transactionManager>
			<!-- 트랜젝션 관리 -->
			
			<dataSource type="POOLED">
			<!-- connection에 들어갈 정보 -->
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@rclass.iptime.org:8877:xe"/>
<property name="username" value="studenttest"/>
<property name="password" value="studenttest"/>			
			</dataSource>
		</environment>
	</environments>
	
	
	<mappers>
		<mapper resource = "/mappers/student/student-mapper.xml"/>
	</mappers>
</configuration>
